<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center"> Abrevva Test App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align: center">
    <ion-button expand="block" fill="clear" (click)="register()"
      >Register
    </ion-button>
    <ion-button expand="block" fill="clear" (click)="connect()"
      >Connect
    </ion-button>
    <ion-button expand="block" fill="clear" (click)="disconnect()"
      >Disconnect
    </ion-button>
    <ion-button expand="block" fill="clear" (click)="write()"
      >Write Medium
    </ion-button>
  </ion-list>
</ion-content>
