<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center"> Abrevva Test App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="startScan($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    @for (result of results; track result.deviceId) {
      <ion-row>
        <ion-card style="width: 100%" (click)="disengage(result)">
          <ion-card-content>
            {{ result.advertisementData.manufacturerData.identifier }}
          </ion-card-content>
        </ion-card>
      </ion-row>
    }
  </ion-grid>
</ion-content>
